{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-10">
      <h1>Recipes</h1>

      {% if not recipes.items %}
        <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">No recipes!</h4>
          <p>
            You have not created any recipes yet, to create one start by adding a recipe <a href="{{ url_for('recipe_actions.create_recipe') }}">here</a>!<br>
          </p>
        </div>
      {% endif %}

      <p>This is the main CRUD for the recipes, to create a new recipe click <a href="{{ url_for('recipe_actions.create_recipe') }}">here.</a></p>
      <p>
        For the time being it is not possible to edit a recipe, due to my laziness and lack of time to build Beertracking applications.
        <br>
        Also the recipes should be able to be exported as pdfs, to easily share them. This function is also missing.
      </p>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Batch size</th>
            <th>Estimated OG</th>
            <th>Estimated FG</th>
            <th>Estimated ABV</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for recipe in recipes.items %}
            <tr>
              <td><a href="/recipe/{{ recipe.id }}">{{ recipe.name }}</a></td>
              <td>{{ recipe.before_boil }} L</td>
              <td>{{ recipe.estimated_og }}</td>
              <td>{{ recipe.estimated_fg }}</td>
              <td>{{ ((recipe.estimated_og - recipe.estimated_fg) / 7.62) | round(2) }}%</td>
              <td>
                <a class="btn btn-success btn-sm" href="/recipe/{{ recipe.id }}">View</a>
                <a class="btn btn-primary btn-sm" href="/brew/recipe/{{ recipe.id }}">Make a brew from this recipe</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="row">
        <nav aria-label="Pagination" class="pull-right">
          <ul class="pagination">
              <li class="page-item"><a class="page-link {% if recipes.page == 1 %}disabled{% endif %}" href="{{ url_for('recipe_actions.recipes', page=recipes.prev_num) }}">Previous</a></li>
              {% for page_num in recipes.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num == recipes.page  %}
                    <li class="page-item active"><a class="page-link" href="{{ url_for('recipe_actions.recipes', page=page_num) }}">{{ page_num }}</a></li>
                {% else %}
                  <li class="page-item"><a class="page-link" href="{{ url_for('recipe_actions.recipes', page=page_num) }}">{{ page_num }}</a></li>
                {% endif %}
              {% endfor %}
            <li class="page-item"><a class="page-link {% if recipes.page == recipes.pages %}disabled{% endif %}" href="{{ url_for('recipe_actions.recipes', page=recipes.next_num) }}">Next</a></li>
          </ul>
        </nav>

        Displaying 10 entities per page
      </div>
    </div>
</div>
{% endblock content %}