{% extends 'recipe.html' %}

{% block data %}
    <form method="POST" action="/brew/create">

        <input type="hidden" value="{{ recipe.id }}" name="recipe_id">

        <div class="form-group">
            <label for="brew_day">Brew day</label>
            <input type="date" class="form-control" name="brew_day">
        </div>

        <div class="form-group">
            <label for="brew_og">Brew OG</label>
            <input type="number" class="form-control" name="brew_og" placeholder="e.g 50">
        </div>

        <div class="form-group">
            <label for="brew_fg">Brew FG</label>
            <input type="number" class="form-control" name="brew_fg" placeholder="e.g 10">
        </div>

        <div class="form-group">
            <label for="brew_done_ferm">Done Fermenting</label>
            <input type="date" class="form-control" name="brew_done_ferm">
        </div>

        <div class="form-group">
            <label for="brew_comment">Comments</label>
            <textarea class="form-control" name="brew_comment"></textarea>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary form-control" name="submit">
        </div>

    </form>
{% endblock %}