{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>{{ brew.Recipe.name }} <small>{{ brew.Brew.id }}</small></h1>

        {% if brew.Recipe.comment %}
            <p>{{ brew.Recipe.comment }}</p>
        {% endif %}
        <div class="row">
            <div class="col-md-6">
                <h2>Ingredients</h2>
                <div class="row">

                    <div class="col-md-12">
                        <h3>Malts</h3>

                        <table class="table table-striped">
                            <thead class="thead-dark">
                            <tr>
                                <th>Name</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for malt in brew.Recipe.malt %}
                            <tr>
                                <td>{{ malt.name }}</td>
                                <td>{{ malt.amount }} kg</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>

                    <div class="col-md-12">
                        <h3>Mashing</h3>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Stage</th>
                                    <th>Temperature</th>
                                    <th>Duration</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for mash in brew.Recipe.mash %}
                            <tr>
                                <td>{{ mash.name }}</td>
                                <td>{{ mash.temp }} °C</td>
                                <td>{{ mash.duration }} minutes</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-12">
                        <h3>Hops</h3>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                            <tr>
                                <th>Hop</th>
                                <th>Amount</th>
                                <th>Boil time</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for hop in brew.Recipe.hops %}
                            <tr>
                                <td>{{ hop.name }}</td>
                                <td>{{ hop.amount }} g</td>
                                <td>{{ hop.boil }} minutes</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-12">
                        <h3>Other</h3>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Name</th>
                                    <th>Amount</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for other in brew.Recipe.other %}
                                <tr>
                                    <td>{{ other.name }}</td>
                                    <td>{{ other.amount }}</td>
                                    <td>{{ other.time }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

            <div class="col-md-6">
                <h2>Other Information</h2>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td><b>Yeast used:</b></td>
                            <td>{{ brew.Recipe.yeast }}</td>
                        </tr>
                        <tr>
                            <td><b>Recommended volume of wort before boil:</b></td>
                            <td>{{ brew.Recipe.before_boil }} L</td>
                        </tr>

                        <tr>
                            <td><b>OG</b></td>
                            <td>{{ brew.Brew.brew_og }}</td>
                        </tr>

                        <tr>
                            <td><b>FG</b></td>
                            <td>{{ brew.Brew.brew_fg }}</td>
                        </tr>

                        <tr>
                            {% if brew.Brew.brew_og and brew.Brew.brew_fg %}
                                <td><b>ABV</b></td>
                                <td>{{ ((brew.Brew.brew_og - brew.Brew.brew_fg) / 7.62) | round(2) }}%</td>
                            {% else %}
                                <td><b>Estimated ABV</b></td>
                                <td>{{ ((brew.Recipe.estimated_og - brew.Recipe.estimated_fg) / 7.62) | round(2) }}%</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Brewed:</b></td>
                            <td>{{ brew.Brew.brew_day }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

{% endblock content %}