{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-10">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Batch size</th>
            <th>Estimated OG</th>
            <th>Estimated FG</th>
            <th>Estimated ABV</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% if recipes.items|length < 1 %}
          <tr>
            <td>No recipes found, you can create one by pressing the Create Recipe link in the top bar.</td>
          </tr>
        {% else %}
          {% for recipe in recipes.items %}
          <tr>
            <td><a href="/recipe/{{ recipe.id }}">{{ recipe.name }}</a></td>
            <td>{{ recipe.before_boil }}</td>
            <td>{{ recipe.estimated_og }}</td>
            <td>{{ recipe.estimated_fg }}</td>
            <td>{{ ((recipe.estimated_og - recipe.estimated_fg) / 7.62) | round(2) }}%</td>
            <td>
              <a class="btn btn-success btn-sm" href="/recipe/{{ recipe.id }}">View</a>
              <a class="btn btn-primary btn-sm" href="/brew/recipe/{{ recipe.id }}">Brew</a>
            </td>
          </tr>
          {% endfor %}
        {% endif %}
        </tbody>
      </table>
      <div class="row">
        <nav aria-label="Pagination" class="pull-right">
          <ul class="pagination">
              <li class="page-item"><a class="page-link {% if recipes.page == 1 %}disabled{% endif %}" href="{{ url_for('recipes', page=recipes.prev_num) }}">Previous</a></li>
              {% for page_num in recipes.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num  %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('recipes', page=page_num) }}">{{ page_num }}</a></li>
                {% else %}
                  <li class="page-item active"><a class="page-link" href="{{ url_for('recipes', page=page_num) }}">{{ page_num }}</a></li>
                {% endif %}
              {% endfor %}
            <li class="page-item"><a class="page-link {% if recipes.page == recipes.pages %}disabled{% endif %}" href="{{ url_for('recipes', page=recipes.next_num) }}">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
</div>
{% endblock content %}